body{
    background-color: black;
    display: flex;
    flex-direction: column;
    
}
h1{
    color: #e5ec0c;
    text-align: center;
}
div{
     margin-top: 50px;
     display: flex;
     justify-content: center;
     height: 30px;
     
}
#input{
    border-radius: 20px ;
}
#btn{
    margin-left: 12px;
    background-color: #e5ec0c;
    border-radius: 20px;
    width: 100px;
}
.list{
    color: white;
    margin-left: 38%;
}
.main_div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 10px;
    margin-top: 10px;
    border-radius: 10px;
    margin-left: 50px;
}

.delete {
    background-color:  #e5ec0c;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 6px;
    cursor: pointer;
    margin-right: 70%;
}
